<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testimonials</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='testimonial.css') }}">
    
</head>
<body>

    <div class="wrapper">
        <div class="testimonial-container" id="_testimonial-container"></div>
        <button id="prev">&lt;</button>
        <button id="next">&gt;</button>


    </div>
    <script src="{{ url_for('static', filename='testimonial.js') }}" defer></script>
      
    
</body>
</html>